@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow-x: hidden;
}

.bgGrade{
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=f24f59&c2=3a69c4&gt=r&gd=dtl
*/
background: #F24F59;
background: radial-gradient(at left top, #F24F59, #3A69C4);

}
